### Criação da tabela 1: contém informações sobre as empresas a serem comparadas

*Downloads e fontes:*
- [Índice ico2 b3](https://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-de-sustentabilidade/indice-carbono-eficiente-ico2-composicao-da-carteira.htm): dados das empresas que compõe a carteira do índice ICO2 da B3.
- [Ibovespa - Ações e setores](https://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-amplos/indice-ibovespa-ibovespa-composicao-da-carteira.htm): dados de todas as empresas que compõe a Ibovespa.

O objetivo de buscar estes dois dados para gerar a primeira tabela é poder criar a coluna binária de particpação do índice e também fazer a comparação setorial.

In [2]:
import pandas as pd
import numpy as np
dados_empresas_ico2 = pd.read_csv('c../Downloads/arteira_ico2_set-dez_2023.csv', delimiter=';')
codigo_empresas_ico2 = dados_empresas_ico2['Codigo'].to_list()

dados_empresas_ibovespa = pd.read_csv("../Downloads/ibovespa_acoes_setores.csv", delimiter=';')
dados_empresas_ibovespa = dados_empresas_ibovespa[['Codigo', 'Acao', 'Setor']]
dados_empresas_ibovespa['ico2'] = dados_empresas_ibovespa['Codigo'].apply(lambda x: 1 if x in codigo_empresas_ico2 else 0)
dados_empresas_ibovespa.head()

  Codigo     Acao                        Setor  ico2
0  WEGE3      WEG   Bens Indls / Maqs e Equips     1
1  EMBR3  EMBRAER  Bens Indls / Mat Transporte     1
2  AZUL4     AZUL        Bens Indls/Transporte     1
3  CCRO3   CCR SA        Bens Indls/Transporte     1
4  GOLL4      GOL        Bens Indls/Transporte     1

Para selecionar uma quantidade menor de empresas, é feita uma filtragem por setores que compõem e não compõem o índice simultaneamente.

In [3]:
fora_indice = dados_empresas_ibovespa['Setor'].loc[dados_empresas_ibovespa['ico2']== 0 ].unique()
dentro_indice = dados_empresas_ibovespa['Setor'].loc[dados_empresas_ibovespa['ico2']== 1 ].unique()
categorias = []
for categoria in fora_indice:
    if categoria in dentro_indice:
        categorias.append(categoria)

categorias_selecionadas = dados_empresas_ibovespa[dados_empresas_ibovespa['Setor'].isin(categorias)].reset_index()
categorias_selecionadas.head()

   index Codigo          Acao                             Setor  ico2
0     12  ASAI3         ASSAI  Cons N Ciclico / Comercio Distr.     1
1     13  CRFB3  CARREFOUR BR  Cons N Ciclico / Comercio Distr.     0
2     14  PCAR3  P.ACUCAR-CBD  Cons N Ciclico / Comercio Distr.     1
3     18  ARZZ3     AREZZO CO        Consumo Ciclico / Comercio     1
4     19  BHIA3   CASAS BAHIA        Consumo Ciclico / Comercio     1

Criação da lista de códigos das empresas da IBOVESPA para a busca de dados históricos de valores de ações e datas. A busca destes dados será feita pelo o arquivo "dados_ibovespa.r" e armazenada na pasta de downloads. Foi escolhido o R como linguagem para esta busca pois a biblioteca _quantmod_ possuia dados com maior qualidade e gratuitos.

In [11]:
from rpy2 import robjects
import subprocess


categorias_selecionadas['Codigo'].apply(lambda x: x + '.SA').to_csv('codigos_bovespa.csv')


subprocess.call("Rscript /Users/higui/Desktop/Mackenzie/projeto-aplicado-1/Scripts/acoes.R", shell=True)

1

### Criação da tabela 2

In [12]:
acoes = pd.read_csv('../Downloads/dados_acoes.csv')
acoes.head()

C:\Users\higui\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3460: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Codigo,Data,WEGE3.SA.Close,Ticker,EMBR3.SA.Close,AZUL4.SA.Close,CCRO3.SA.Close,GOLL4.SA.Close,RAIL3.SA.Close,BRFS3.SA.Close,...,CMIG4.SA.Close,CPLE6.SA.Close,CPFE3.SA.Close,ELET3.SA.Close,ELET6.SA.Close,ENGI11.SA.Close,ENEV3.SA.Close,EGIE3.SA.Close,EQTL3.SA.Close,TAEE11.SA.Close
0,WEGE3.SA,2018-09-03,9.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WEGE3.SA,2018-09-04,9.325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WEGE3.SA,2018-09-05,9.285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WEGE3.SA,2018-09-06,9.745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WEGE3.SA,2018-09-10,9.775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN